.bg-body-, .header, .nav-logo {
    width: 100%;
}

.bg-body- {
    background-color: orange;
}

.nav-logo {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
  }
  
  .div-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
  }


  /* Mobile */
    @media (max-width: 468px) {
    .div-container {
      flex-wrap: wrap;
    }
    .div-container img {
      max-width: 100%;
    }
  }
  
  /* Desktop */
    @media (min-width: 968px) {
    .div-container img {
      max-width: 300px;
    }
  }
  
  .benefits-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px; 
  justify-content: center;   }


.benefits-section h2 {
    text-align: center;
}

.benefits-section p {
    text-align: justify;
    line-height: 1.5;
    padding: 0 20px;
    max-width: 500px;
    justify-content: center;
}

.benefits-section div:first-child {
    width: 100%;
    height: auto;
}

.img-puerto {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
}
      footer {
        background-color: orange;
      }

    .footer-container {
      display: flex;
     flex-direction: row; 
     flex-wrap: wrap;
     justify-content: flex-end;
    
    }

    li {
    max-width: 200px;
    list-style-type: none;
  }

  li {
    margin: 10px;
    padding: 10px;
  }


.sector-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  
}


.sector-productor {
  display: flex;
  grid-area: img;
  width: 100%;
  height: auto;
  flex: 1;
  max-width: 100%;
  
}


.sector-text-container {
  background-color: greenyellow;
  grid-area: content;
  margin: 20px;
  flex: 1;
  padding: 20px;
}



.sector-section-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content"
}
@media screen and (max-width: 768px) {
  .sector-section-container {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "content";
  } }




  