body {
  overflow-x: hidden;
}

.section-text-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
}
.section-text-app .section-app {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
  flex-direction: column;
}
.section-text-app .section-app .container-app-productor {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}
.section-text-app .section-app .container-app-productor img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}
.section-text-app .section-app .container-app-transportista {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}
.section-text-app .section-app .container-app-transportista h2 {
  display: flex;
}
.section-text-app .section-app .container-app-transportista img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}

footer {
  background-color: Orange;
}
footer nav .footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer nav .footer-container li {
  max-width: 200px;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

header {
  width: 100%;
}
header .bg-body- {
  background-color: Orange;
  width: 100%;
}
header .bg-body- .navbar-brand {
  width: 100%;
}
header .bg-body- div ul li .nav-logo {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.section-container {
  padding: 0 50px;
}
.section-container .div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 10px;
}
.section-container .div-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .section-container .div-container {
    flex-direction: column;
  }
}
.benefits-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
}
.benefits-section div h2 {
  text-align: center;
  margin-bottom: 20px;
}
.benefits-section div p {
  text-align: justify;
  line-height: 1.5;
  max-width: 500px;
  justify-content: center;
}
.benefits-section .benefits-section-img {
  margin-bottom: 30px;
}

.section-nosotros {
  padding: 0 40px;
}

.section-presentacion .foto-pedro {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}

.sector-section-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content";
  gap: 10px;
}
.sector-section-container .sector-text-container {
  background-color: greenyellow;
  grid-area: content;
  flex: 1;
  padding: 20px;
}
.sector-section-container .sector-productor {
  display: flex;
  grid-area: img;
  width: 100%;
  height: auto;
  flex: 1;
  max-width: 100%;
}

.industria-container p .img-puerto {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}
section {
  padding: 0 50px;
  margin-top: 10px;
}
section h2 p .div-contenedor-app {
  display: flex;
  padding: 20px;
}

@media screen and (max-width: 468px) {
  .section-container .div-container {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .section-container .div-container img {
    max-width: 100%;
  }
  .benefits-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .section-text-app {
    display: flex;
    flex-wrap: wrap;
  }
  .section-text-app .section-app .container-app-productor {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .section-text-app .section-app .container-app-productor img {
    max-width: 100%;
  }
  .section-text-app .section-app .container-app-transportista {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .section-text-app .section-app .container-app-transportista img {
    max-width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .div-contenedor-app {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .div-contenedor-app li {
    max-width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .section-nosotros {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .section-nosotros p {
    max-width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .sector-section-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .sector-section-container .sector-text-container {
    max-width: 100%;
  }
  .sector-section-container .sector-productor {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .industria-container {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .industria-container p .img-puerto {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
