

.section-text-app {
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 100%;

    


            p{

                .section-app{
                    
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 20px;
                

                    .container-app-productor{
                        display: flex;
                        padding: 20px;
                        margin: 20px;
                        justify-content: center;
                        
                        
                        h2{

                        }
                    } .container-app-transportista{
                        display: flex;
                        padding: 20px;
                        margin: 20px;
                        justify-content: center;

                       
                          
                    } h2{


                    }
                }
            }
}