


header { width: $width-primary;

    .bg-body-{
        background-color: $color-primary;
        width: 100%;
        
        .navbar-brand{
            width: 100%;
        }
        div{

            ul{

                li{

                    
                .nav-logo {
                   width: 20%;
                 display: flex;
                justify-content: flex-end;

               
                

                }

                }
            }
        }
    }
}