.section-nosotros {
    padding: 0 40px;
}

.section-presentacion {
    .foto-pedro {
        padding: 0 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 10px;
        
    }
}
