



.sector-section-container{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img content";
    gap: 10px;

    .sector-text-container{
        background-color: $color-secondary;
        grid-area: content;
        flex: 1;
        padding: $padding-primary;


        h2{

        }
            p{

            }
        }
            .sector-productor{
                display: flex;
                grid-area: img;
                width: 100%;
                height: auto;
                flex: 1;
                max-width: 100%;


            
        }
    
}



.industria-container {
    p{
        .img-puerto{
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 300px;
            height: auto;
            margin: 10px;
        }
        }
    
    p{

    }
}