section {
    padding: 0 50px;
    margin-top: 10px;
    h2 {
        p {
            .div-contenedor-app {
                display: flex;
                padding: $padding-primary;
            }
        }
    }
}
